<!-- Box -->
<div class="box">
  <div class="head">
    <h2>TAMIL</h2>
    <p class="text-right"><a href="#">See all</a></p>
  </div>

  <!-- Movie -->
  <div class="movie">    
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">X-MAN</span></span><img src="/assets/movie1.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">SPIDER MAN 2</span></span><img src="/assets/movie2.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">SPIDER MAN 3</span></span><img src="/assets/movie3.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">VALKYRIE</span></span><img src="/assets/movie4.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">GLADIATOR</span></span><img src="/assets/movie5.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie last">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">ICE AGE</span></span><img src="/assets/movie6.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  <div class="cl">&nbsp;</div>
</div>
<!-- end Box -->

<!-- Box -->
<div class="box">
  <div class="head">
    <h2>TAMIL DUBBED</h2>
    <p class="text-right"><a href="#">See all</a></p>
  </div>

  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">TRANSFORMERS</span></span><img src="/assets/movie7.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">MAGNETO</span></span><img src="/assets/movie8.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">KUNG FU PANDA</span></span><img src="/assets/movie9.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">EAGLE EYE</span></span><img src="/assets/movie10.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">NARNIA</span></span><img src="/assets/movie11.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie last">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">ANGELS &amp; DEMONS</span></span><img src="/assets/movie12.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  <div class="cl">&nbsp;</div>
</div>
<!-- end Box -->

<!-- Box -->
<div class="box">
  <div class="head">
    <h2>ENGLISH</h2>
    <p class="text-right"><a href="#">See all</a></p>
  </div>

  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">HOUSE</span></span><img src="/assets/movie13.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">VACANCY</span></span><img src="/assets/movie14.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">MIRRORS</span></span><img src="/assets/movie15.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">THE KINGDOM</span></span><img src="/assets/movie16.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">MOTIVES</span></span><img src="/assets/movie17.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie last">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">THE PRESTIGE</span></span><img src="/assets/movie18.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  <div class="cl">&nbsp;</div>
</div>
<!-- end Box -->



<!-- Box -->
<div class="box">
  <div class="head">
    <h2>HINDI</h2>
    <p class="text-right"><a href="#">See all</a></p>
  </div>

  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">HOUSE</span></span><img src="/assets/movie13.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">VACANCY</span></span><img src="/assets/movie14.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">MIRRORS</span></span><img src="/assets/movie15.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">THE KINGDOM</span></span><img src="/assets/movie16.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">MOTIVES</span></span><img src="/assets/movie17.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie last">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">THE PRESTIGE</span></span><img src="/assets/movie18.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  <div class="cl">&nbsp;</div>
</div>
<!-- end Box -->


<!-- Box -->
<div class="box">
  <div class="head">
    <h2>TELUGU</h2>
    <p class="text-right"><a href="#">See all</a></p>
  </div>

  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">HOUSE</span></span><img src="/assets/movie13.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">VACANCY</span></span><img src="/assets/movie14.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">MIRRORS</span></span><img src="/assets/movie15.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">THE KINGDOM</span></span><img src="/assets/movie16.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">MOTIVES</span></span><img src="/assets/movie17.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie last">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">THE PRESTIGE</span></span><img src="/assets/movie18.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  <div class="cl">&nbsp;</div>
</div>
<!-- end Box -->


<!-- Box -->
<div class="box">
  <div class="head">
    <h2>MALAYALAM</h2>
    <p class="text-right"><a href="#">See all</a></p>
  </div>

  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">HOUSE</span></span><img src="/assets/movie13.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">VACANCY</span></span><img src="/assets/movie14.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">MIRRORS</span></span><img src="/assets/movie15.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">THE KINGDOM</span></span><img src="/assets/movie16.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">MOTIVES</span></span><img src="/assets/movie17.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie last">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">THE PRESTIGE</span></span><img src="/assets/movie18.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  <div class="cl">&nbsp;</div>
</div>
<!-- end Box -->


<!-- Box -->
<div class="box">
  <div class="head">
    <h2>SERIAL</h2>
    <p class="text-right"><a href="#">See all</a></p>
  </div>

  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">HOUSE</span></span><img src="/assets/movie13.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">VACANCY</span></span><img src="/assets/movie14.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">MIRRORS</span></span><img src="/assets/movie15.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">THE KINGDOM</span></span><img src="/assets/movie16.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">MOTIVES</span></span><img src="/assets/movie17.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie last">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">THE PRESTIGE</span></span><img src="/assets/movie18.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  <div class="cl">&nbsp;</div>
</div>
<!-- end Box -->


<!-- Box -->
<div class="box">
  <div class="head">
    <h2>LATEST TRAILERS</h2>
    <p class="text-right"><a href="#">See all</a></p>
  </div>

  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">HOUSE</span></span><img src="/assets/movie13.jpg" alt="movie" /></a>
    </div>
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">VACANCY</span></span><img src="/assets/movie14.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">MIRRORS</span></span><img src="/assets/movie15.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">THE KINGDOM</span></span><img src="/assets/movie16.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">MOTIVES</span></span><img src="/assets/movie17.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  
  <!-- Movie -->
  <div class="movie last">
    <div class="movie-image">
      <a href="#"><span class="play"><span class="name">THE PRESTIGE</span></span><img src="/assets/movie18.jpg" alt="movie" /></a>
    </div>  
    <div class="rating">
      <p>RATING</p>
      <div class="stars">
        <div class="stars-in">
          
        </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <!-- end Movie -->
  <div class="cl">&nbsp;</div>
</div>
<!-- end Box -->
