<div id="navigation">
  <ul>
    <li><a class="active" href="#">HOME</a></li>
    <li><a href="#">IN HDD 1</a></li>
    <li><a href="#">IN HDD 2</a></li>
    <li><a href="#">NOTIFICATIONS</a></li>
    
<!--     <li><a href="#">NEWS</a></li>
    <li><a href="#">IN THEATERS</a></li>
    <li><a href="#">COMING SOON</a></li>
    <li><a href="#">CONTACT</a></li>
    <li><a href="#">ADVERTISE</a></li> -->
  </ul>
</div>