<div id="sub-navigation">
  <ul>
    <li><a href="#">SHOW ALL</a></li>
    <li><a href="#">TAMIL</a></li>
    <li><a href="#">TAMIL DUBBED</a></li>
    <li><a href="#">ENGLISH</a></li>
    <li><a href="#">HINDI</a></li>
    <li><a href="#">TELUGU</a></li>
    <li><a href="#">MALAYALAM</a></li>
    <li><a href="#">SERIALS</a></li>
    <li><a href="#">LATEST TRAILERS</a></li>
    <li><a href="#">OTHERS</a></li>
    <!-- <li><a href="#">LATEST TRAILERS</a></li> -->
    <!-- <li><a href="#">TOP RATED</a></li> -->
    <!-- <li><a href="#">MOST COMMENTED</a></li> -->
  </ul>
  <div id="search">
    <form action="home_submit" method="get" accept-charset="utf-8">
      <label for="search-field">SEARCH</label>          
      <input type="text" name="search field" value="Enter search here" id="search-field" title="Enter search here" class="blink search-field"  />
      <input type="submit" value="GO!" class="search-button" />
    </form>
  </div>
</div>