<div id="coming">
  <div class="head">
    <h3>COMING SOON<strong>!</strong></h3>
    <p class="text-right"><a href="#">See all</a></p>
  </div>
  <div class="content">
    <h4>The Princess and the Frog </h4>
      <a href="#"><img src="/assets/coming-soon1.jpg" alt="coming soon" /></a>
    <p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
    <a href="#">Read more</a>
  </div>
  <div class="cl">&nbsp;</div>
  <div class="content">
    <h4>The Princess and the Frog </h4>
      <a href="#"><img src="/assets/coming-soon2.jpg" alt="coming soon" /></a>
    <p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
    <a href="#">Read more</a>
  </div>
</div>